header {
  margin-top: 30px !important;
}

body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
  height: 400px;
  margin-top: 150px;
  line-height: 2em;
  margin: auto;
  text-align: center;
  background: #eee;
}

footer * {
  color: #797979;
}

img {
  max-width: 100%;
  border: none;
}

/*
yellow: #f1c40b;
red: #dd2725;
brown: #5c472d;
pastel-red: #db847c;
*/

a {
  color: #5c472d;
}

.color {
  color: #5c472d;
}

.red-color {
  color: #dd2725;
}

.label-color {
  background: #dd2725 !important;
}

.label-brown-color {
  background: #5c472d !important;
}

.highlight-color {
  background: #dd2725 !important;
}

.card-color {
  background: #c12e27;
}

.ui.breadcrumb a {
  color: #5c472d;
}

.author-link {
  color: #dd2725;
}
.author-link:hover {
  color: brown;
}

#publication a {
  color: #dd2725;
}

#publication a:hover {
  color: brown;
}

.card-color-0, .card-color-1, .card-color-2, .card-color-3{
  background: #dd2725;
}

.card-color-4, .card-color-5, .card-color-6, .card-color-7{
  background: #f1c40b;
}

.card-color-0 { background: rgb(24, 91, 121); }
.card-color-1 { background: rgb(32, 149, 186); }
.card-color-2 { background: rgb(87, 167, 147); }
.card-color-3 { background: rgb(163, 184, 108); }
.card-color-4 { background: rgb(223, 198, 61); }
.card-color-5 { background: rgb(236, 170, 53); }
.card-color-6 { background: rgb(237, 137, 37); }
.card-color-7 { background: rgb(193, 72, 36); }





a {
  text-decoration: none;
  /*color: #269;*/
  /*color: #00716C;*/
  line-height: 1.2em;
  display: inline-block;
  transition: 0.1s;
}

a:hover {
  color: brown;
  /*color: #E03997;*/
  /*text-decoration: underline;*/
}

/*#people a, #person a {
  color: #269;
}
*/


#top-video-container {
  width: 100%;
  height: 300px;
  overflow:hidden;
  position: absolute;
  /*margin-top: 50px;*/
}

#top-video {
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  /*margin: 10px 0;*/
  position: absolute;
  transform: translate(-50%, -50%);
}

#header-logo {
  height: 300px;
  text-align: center;
  margin-top: 30px;
}

#header {
  text-align: center;
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 50px;
}

#header h1 {
  text-align: center;
  font-size: 1.3em;
}

#labs .img {
  /*opacity: 0.6;*/
  display: block;
  max-height: 120px;
  padding: 20px;
  width: 100%;
  max-width: 490px;
  transition: 0.8s;
  object-fit: cover;
}

#labs .img:hover {
  opacity: 0.6;
}

.large-profile {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
}

.medium-profile {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
}

.mini-profile {
  width: 24px !important;
  height: 24px !important;
  object-fit: cover;
  margin-left: 0 !important;
}


.category {
  margin-top: 100px;
  margin-bottom: 100px;
}

.people-category {
  margin-top: 30px;
  margin-bottom: 60px;
}

.person {
  text-align: center;
}

.person img {
  margin: 20px auto;
}

#publications img.cover {
  width: 260px;
  height: 120px;
  object-fit: cover;
}

#publications .publication {
  transition: 0.5s;
  cursor: pointer;
}

#publications .publication:hover {
  background: #efefef;
}

#publication img.cover {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

#publication h1 {
  margin-top: 0px;
}

#publication .block {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.3rem !important;
}

#publication #figure .image {
  width: 100%;
  height: 100%;
  background: white;
}

#publication #figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#seminar img.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#breadcrumb {
  padding: 0;
  /*margin-bottom: 20px;*/
  font-size: 1.1em;
  background: none;
}


#news .image {
  width: 80px !important;
  height: 80px !important;
}


#location #map {
  margin-top: 60px;
  margin-bottom: 30px;
}

#location #map .segment {
  height: 400px;
}

#location #map .feature.map iframe {
  height: 400px;
  width:100%;
  border:0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

#location #space .image {
  width: 100%;
  height: 100%;
}

#location #space img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#facility .card {
  text-align: center;
}

#facility .image {
  background: white;
  width: 100%;
  height: 150px;
  padding: 10px;
}

#facility img {
  height: 100%;
  width: auto;
  margin: auto;
  object-fit: cover;
}



@media only screen and (max-width: 1500px) {
.ui.grid > .centered.column, .ui.grid > .row > .centered.column {
  margin-left: 20px !important;
  margin-right: 20px !important;
  width: 100% !important;
}

}


.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.ui.vertical.stripe {
  padding: 8em 0;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.quote.stripe.segment {
  padding: 0;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 770px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
}
















#project {
  margin-bottom: 80px
}

#project .content {
  /*text-align: center;*/
}

#projects .ui.header {
  color: #269 !important;
}

#project .title {
  font-size: 2em;
}

#project .meta {
  font-size: 1.1em;
}

#project video {
  width: 100%;
}

#project .figures {
  margin-top: 5px;
  margin-bottom: 5px;
}

#project p {
  text-align: justify;
}

#project h1 {
  margin-top: 40px;
}

.images img {
  height: 200px;
}

#project .paper-thumbnail:hover {
  opacity: 0.8;
}

.paper.column {
  height: 100%;
  padding-left: 0.5% !important;
  padding-right: 0.5% !important;
}

.slide.column {
  padding: 0.5% !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-bg {
  background: transparent url(/static/images/pattern.png) repeat top left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fa-fw {
  margin-right: 3px;
}

.ui.segment {
  font-size: 1.3rem !important;
}

.ui.dimmer {
  background: rgba(255, 255, 255, 0.85) !important;
}


#container {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative;
}

